<ion-header [translucent]="true" mode="md">
  <ion-toolbar color="primary" style="padding-top: 20px;">
    <ion-button (click)="goBack()" fill="clear" size="small" slot="start">
      <ion-icon name="chevron-back" style="font-size: 24px;" style="color:black !important;"></ion-icon>
    </ion-button>
      <ion-title style="padding: 0px;" >Registrar kilometraje de {{ plate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">

    <form [formGroup] = "kmForm" (ngSubmit) = "registerKmEquipment()" class="form-css">

      <ion-list>

        <div *ngFor="let validation of validation_messages.code">
          <ion-label class="error"
            *ngIf = "isSubmitted && kmForm.get('code').hasError(validation.type)" >
            {{ validation.message }}
          </ion-label>
        </div>
  
        <div *ngFor="let validation of validation_messages.date">
          <ion-label class="error"
            *ngIf = "isSubmitted && kmForm.get('date').hasError(validation.type)" >
            {{ validation.message }}
          </ion-label>
        </div>

        <div *ngFor="let validation of validation_messages.km">
          <ion-label class="error"
            *ngIf = "isSubmitted && kmForm.get('km').hasError(validation.type)" >
            {{ validation.message }}
          </ion-label>
        </div>
  
      </ion-list>

      <ion-label class="green_name">Km Actual</ion-label>
      <ion-input type="text" placeholder="Km Actual" formControlName="km" inputmode="numeric"></ion-input>

      <ion-label class="green_name">Fecha</ion-label>
      <ion-item id="open-modal" class="no-border no-padding">
      <ion-input type="text" formControlName="date" [value]="formattedString" readonly></ion-input>
      </ion-item>
      
      <ion-label class="green_name">Imagen</ion-label>
      <div class="upload_box" (click)="openGallery()">
        <div class="abs_div">
          <ion-icon *ngIf="!image" name="image-outline"></ion-icon>
          <ion-label *ngIf="!image">Subir Imagen</ion-label>
          <img *ngIf="image" [src]="image.data" class="preview-image"/>
        </div>
      </div>

      <ion-modal trigger="open-modal">
        <ng-template>
          <ion-content>
            <ion-datetime #datetime [value]="dateValue" size="cover" 
              (ionChange)="dateChanged(datetime.value)" 
              (ionCancel)="showPicker=false;">
              <ion-buttons slot="buttons">
                <ion-button (click)="close()" color="primary">Cancelar</ion-button>
                <ion-button (click)="select()" color="primary">Seleccionar</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>

      <ion-button expand="block" shape="round" type="submit" color="primary">
          Guardar
      </ion-button>

    </form>
      
  </div>
</ion-content>
